<nav class="navbar navbar-dark bg-dark">

  <div class="container-fluid">

    <span class="navbar-brand">
      Inventario
    </span>

    <div>

      <a class="btn btn-outline-light me-2" routerLink="/purchase">
        Compras
      </a>

      <a class="btn btn-outline-light me-2" routerLink="/sales">
        Ventas
      </a>

      <a class="btn btn-outline-light" routerLink="/kardex">
        Kardex
      </a>

    </div>

  </div>

</nav>

<div class="container mt-4">

  <router-outlet />

</div>
