@use '../../../purchase/pages/purchase-form/purchase-form.component.scss';

.btn-view {
    border: none;
    background: linear-gradient(135deg,
            #2563eb,
            #1d4ed8);

    color: white;
    border-radius: 12px;
    padding: 10px 18px;

    font-size: 0.95rem;
    font-weight: 600;

    cursor: pointer;

    transition: all .25s ease;

    box-shadow:
        0 4px 12px rgba(37, 99, 235, .25);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 150px;
}

.btn-view:hover {

    transform:
        translateY(-2px);

    box-shadow:
        0 8px 20px rgba(37, 99, 235, .35);

    background:
        linear-gradient(135deg,
            #1d4ed8,
            #1e40af);

}

.btn-view:active {

    transform:
        scale(.97);

}

.btn-view:disabled {

    opacity: .6;
    cursor: not-allowed;
    box-shadow: none;

}